# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/target/
data.ms
.idea/AugmentWebviewStateStore.xml
rustc-ice-2025-06-28T07_06_23-140988.txt

# Protoc binary files (build dependencies)
protoc/bin/protoc.exe
protoc/bin/*.zip
protoc/bin/bin/
protoc/bin/include/
